
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("CreateNewDiscount","Discount")">CreateNewDiscount</a></li>
        <li><a href="@Url.Action("CreateNewDiscountType","Discount")">CreateNewDiscountType</a></li>
        <li><a href="@Url.Action("AddDiscountToProducts","Discount")">AddDiscountToProducts</a></li>
    </ul>
</div>